/* TODO: Add responsive styles here... */
@media (max-width: 600px) {
    .container h1, .col-12 h2 {
        text-align: center;
    }
    .hero-btns {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-12 h5 {
        text-align: center;
        margin-top: 30px;
    }
}