* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    
}



p, ol, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia;

}

.first-row {
    background-color: grey;
    padding: 0;
    margin: 0;
   
}

th {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  
}


th, td {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 1px;
    
}

.colored {
    background-color: lightgrey
}

blockquote {
    margin: 0; 
    padding: 20px; 
    border-left: 2px solid #ccc; 
    margin-left: 40px;
    
}

.author-Koko {
    margin-right: 10px;
    margin-left: 1300px;
}

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}