@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Gochi Hand";
}

body {
    background-color: #E0E0E0;
}

.main-container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    
}

.image-container {
    width: 100%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;

    
}

.image-container img {
    display: block;
    width: 100%;
    overflow: hidden;
}

.site-section.upper {
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}

.site-container {
    padding: 20px;
}

.site-section.upper .text-container {
    border-radius: 10px;
    background-color: #F4F3F3;
    padding: 15px 30px;
    

}

.site-section.upper .text-container h2 {
    text-align: center;
    margin: 15px auto;
    color: black;
}

.site-section.upper .text-container p {
    text-align: justify;
   
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
}

.column .adress {
    display: flex;
    line-height: 1.4;
    color: #6B6866;
}

.image-container {
    z-index: 0;
}

.text-container {
    z-index: 1;
    position: absolute;
    bottom: 35px;
    right: 10px;
    max-width: 890px;
    right: 50px;
    color: #6B6866;

}