* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

}
a {
    color: orange;
    text-decoration: none;
}

.container {
    margin: 30px auto;
    width: 80%;
    border: 1px solid grey;
    background-color: silver;
    border-radius: 3px;
    padding: 10px;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;

}

nav > ul > li {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: silver;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    background-color: white;
    

}